@import "../../../../sass/main.scss";

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    color: var(--background-orange);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.text {
    @include fs(14px, 700, 16px, 0.02em, var(--title-color));
    text-align: center;
    text-transform: uppercase;

    margin-left: 16px;
    margin-right: 16px;
}