@import "../../sass/main.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  padding: 13px 20px;
  width: 280px;

  @include fs(12px, null, 1.16, 0.04em, var(--text-color));

  background-color: transparent;
  border: 2px solid var(--background-color-main);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  outline: none;
}

.input::placeholder {
  color: var(--homepage-placeholder-color);
}

.select {
  @include fs(12px, null, 1.16, 0.04em, var(--text-color));
}

// .select {
//   @include mobile {
//     width: 100%;
//     background-color: transparent;
//     border: 2px solid #ffffff;
//     border-top: none;
//     border-radius: 0 0 20px 0;
//     margin-bottom: 32px;
//   }
//   display: flex;
//   margin: 0;
//   width: 185px;
//   height: 44px;
//   padding: 0 0 0 15px;
//   border: 2px solid #f5f6fb;
//   border-left: none;
//   outline: none;

//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 900;
//   font-size: 12px;
//   line-height: 1.2;
//   letter-spacing: 0.04em;

//   color: var(--primary-text-color);
// }

// .select::placeholder {
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 1.2;
//   letter-spacing: 0.02em;

//   color: #c7ccdc;
// }

// .select:active {
//   // border: none;
//   outline: none;
// }
.sum {
  composes: input;
  width: 125px;
  text-align: right;
  font-weight: 700;
  border-radius: 22px 0px 0px 22px;
}

.sum::placeholder {
  color: black;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}

.inputBtn {
  width: 130px;
  height: 44px;

  background-color: var(--accent-color);
  color: #ffff;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;

  border: transparent;
  border-radius: 16px;
  box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
}

.clearBtn {
  composes: inputBtn;
  margin-left: 20px;

  color: #52555f;
  background-color: transparent;
}

// .select {
//   @include mobile {
//     width: 100%;
//     background-color: transparent;
//     border: 2px solid #ffffff;
//     border-top: none;
//     border-radius: 0 0 20px 0;
//     margin-bottom: 32px;
//   }
//   display: flex;
//   margin: 0;
//   width: 185px;
//   height: 44px;
//   padding: 0 0 0 15px;
//   border: 2px solid #f5f6fb;
//   // border-left: none;
//   outline: none;

//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 900;
//   font-size: 12px;
//   line-height: 1.2;
//   letter-spacing: 0.04em;

//   border-radius: 0px 0px 22px 22px;
// }
