@import "../../../../sass/main.scss";

.list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    @include tablet{
        width: 630px;
    }
}