@mixin media($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin mobile {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 1279px){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}


// миксин для удобного добавления стилей для текста
// например: @include font-style(26px, 900, 1.61, null, $color-white);
// равносильно: 
// font-size: 26px;
// font-weight: 900;
// line-height: 1.61
// letter-spacing: null
// color: $color-white
@mixin fs(
  $size: false,
  $weight: false,
  $lh: false,
  $ls: false,
  $color: false
) {
  @if $size {
    font-size: $size;
  }

  @if $weight {
    font-weight: $weight;
  }

  @if $lh {
    line-height: $lh;
  }

  @if $ls {
    letter-spacing: $ls;
  }

  @if $color {
    color: $color;
  }
}
