:root {
  --text-color: #52555f;
  --secondary-text-color: rgba(82, 85, 95, 0.7);
  --title-color: #000000;
  --auth-placeholder-color: #a6abb9;
  --input--auth-form-bg-color: #f6f7fb;
  --error-message-color: #eb5757;
  --homepage-placeholder-color: #c7ccdc;
  --alternative-text-color: #e7192e;
  // --expenses-num-color: #e7192e;
  --income-text-color: #407946;
  --accent-color: #ff751d;
  --background-color-main: #ffffff;
  --background-color-decoration: #f5f6fb;
  --tablet-btn-color: #fafbfd;
  --tablet-btn-color-active: #fefefe;
  --icons-color: #071f41;
  --background-icons-color: #ffdac0;
}
