:root {
    --text-color: #52555F;
    --secondary-text-color: rgba(82, 85, 95, 0.7);
    --title-color: #000000;
    --auth-placeholder-color: #A6ABB9;
    --input--auth-form-bg-color: #F6F7FB;
    --error-message-color: #EB5757;
    --homepage-placeholder-color: #C7CCDC;
    --alternative-text-color: #E7192E;
    --expenses-num-color: #E7192E;
    --income-text-color: #407946;
    --accent-color: #FF751D;
    --background-color-main: #FFFFFF;
    --background-color-decoration: #F5F6FB;
}

