@import "../../sass/main.scss";

.background {
  position: absolute;
  height: 276px;
  width: 100%;
  background-color: var(--background-color-decoration);
  border-bottom-left-radius: 110px;
  z-index: -1;
  @include tablet {
    height: 526px;
  }
  @include desktop {
    height: 66%;
  }
}
