@import "../../sass/main.scss";

.calendarWrapper {
  display: flex;
  justify-content: center;
}

.calendar {
  width: 85px;
  @include fs(12px, 900, 1.16, 0.04em, var(--text-color));
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
}
