@import "../../sass/main.scss";

.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--title-color);
  @include tablet {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
}
.input {
  margin-bottom: 20px;
  padding: 17px;
  background: var(--input--auth-form-bg-color);
  border-radius: 30px;
  border: none;
  @include tablet {
    margin-bottom: 32px;
  }
  @include desktop {
    margin-bottom: 32px;
  }
}
.buttons {
  margin-top: 20px;
  @include desktop {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
}
.login {
  border-radius: 16px;
  padding: 12px;
  margin-right: 8px;
  background: var(--accent-color);
  color: var(--background-color-main);
  width: 116px;
  height: 44px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  border: none;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  cursor: pointer;
  @include tablet {
    width: 122px;
  }
  &:focus,
  &:hover{
    background-color: #F5F6FB;
    color: var(--accent-color);
  }
  transition: background-color, color, .25s ;
}
.reg {
  border-radius: 16px;
  padding: 12px;
  width: 116px;
  height: 44px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  border: none;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  cursor: pointer;
  @include tablet {
    width: 122px;
  }
  @include desktop {
    width: 122px;
  }
  &:focus,
  &:hover{
    background-color: var(--accent-color);
    color: white;
  }
  transition: background-color, color, .25s ;
}
