@import "../../sass/main.scss";

.section {
    padding-top: 22px;
    padding-bottom: 0px;
    margin: 0 auto;
    width: 320px;

    @include mobile {
        width: 320px;
    }
    @include tablet {
        padding-top: 42px;
        padding-bottom: 80px;
        width: 768px;
    }
    @include desktop {
        width: 1034px;
    }
}