@import "../../sass/main.scss";

.section {
    padding-top: 22px;
    padding-bottom: 0px;
    margin: 0 auto;
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;

    @include mobile {
        width: 320px;
    }
    @include tablet {
        background-image: url(../../images/cabbages/two-cabbages.svg) ;
        background-repeat: no-repeat;
        background-position: right 103px bottom -40px;
        padding-top: 42px;
        padding-bottom: 80px;
        padding-left: 32px;
        padding-right: 32px;
        width: 768px;
    }
    @include desktop {
        width: 1034px;
        background-image: url(../../images/cabbages/a-lot-of-cabbage.svg);
    
        background-repeat: no-repeat;
        background-position: left bottom -84px
        
    }
}
