@import "../../../sass/main.scss";

.container {

    padding: 0 20px;

    @include tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        padding: 0;
    }
};

.box {
    display: block;

    @include tablet{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
};