@import "../../../sass/main.scss";

.container {
    padding-left: 0px;

    @include desktop{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 32px;
    }
};