.summary__wrap {
  width: 213px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}

.summary__title {
  margin-bottom: 4px;
  padding: 12px;

  font-weight: 700;
  background-color: #f5f6fb;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.summary__item {
  display: flex;
  justify-content: space-between;

  padding: 12px;

  font-weight: 400;
  background-color: #f5f6fb;

  &:not(:last-child) {
    margin-bottom: 2px;
  }

  &:last-child {
    border-bottom-right-radius: 16px;
  }
}
