@import "../../sass/main.scss";

.linkWrapper {
  display: flex;
  text-align: center;
  @include mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  @include tablet {
    position: absolute;
    // top: 140px;
    // left: 32px;
    top: -44px;
    left: 0;
  }
}

.link {
  padding: 15px 30px;
  @include fs(12px, 700, 1.16, 0.02em, var(--title-color));
  text-transform: uppercase;
  background-color: var(--tablet-btn-color);

  @include mobile {
    background-color: var(--background-color-decoration);
    width: 50%;
    &:not(:last-child) {
      margin-right: 3px;
    }
    &:hover {
      background-color: var(--accent-color);
      color: var(--background-color-main);
    }
  }

  @include tablet {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
  }
}
