@import "../../../sass/main.scss";
.wrapper{
    padding-top: 20px;
    width: 280px;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-top: 1px solid #E0E5EB ;
    @include tablet{
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        width: 704px;
        background-color: white;
        padding: 44px 44px;
        border-radius: 30px;
    }
    @include desktop{
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 1034px;
        background-color: white;
        padding: 44px 138px;
        border-radius: 30px;
    }
}