@import "../../../sass/main.scss";

.modal {
  padding: 40px 24px;
  margin: 0 auto;
  position: absolute;
  top: 230px;
  left: calc(50% - 135px);
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  z-index: 1;
  width: 280px;
  background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
  border-radius: 30px;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
}

.modal::before {
  content: "";
  background: linear-gradient(45deg, #1b2b4f 50%, #4e4f1b00 50%);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 75px;
  top: -9px;
  transform: rotate(135deg);
}

.text {
  margin-bottom: 20px;
  @include fs(14px, null, 1.43, null, var(--background-color-main));
}

.subtext {
  @include fs(12px, null, 1.13, null, var(--background-color-main));
}
