@import "../../../../sass/main.scss";

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    @include tablet {
        margin-top: 0px;
    }
    // max-width: 136px;
}

.option {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.button {
    color: var(--background-orange);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.date {
    @include fs(14px, 700, 16px, 0.02em, var(--title-color));
    text-align: center;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    // width: 136px;
}

.year {
    margin-left: 10px;
}

.text {
    @include fs(12px, 400, 14px, 0.04em, var(--secondary-text-color));
    text-align: center;
}