@import "../../sass/main.scss";

.balanceWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    margin-bottom: 100px;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: space-between;
  }
}

.reportsWrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 40px;
  @include tablet {
    margin: 0;
  }
}

.reports {
  margin-right: 10px;
  @include fs(12px, null, 1.16, 0.04em, var(--secondary-text-color));
}