@import "../../../sass/main.scss";
.wrapper{
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;

    @include tablet{
        border: 1px solid #E0E5EB;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        width: 704px;
        background-color: white;
        padding: 44px 44px;
        border-radius: 30px;
    }
    @include desktop{
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 1034px;
        background-color: white;
        padding: 44px 138px;
        border-radius: 30px;
    }
}

.box {
    position: relative;
    border-top: 1px solid #E0E5EB;

    @include tablet {
        border-top: 0px solid #E0E5EB;
    }
    
    // &::before {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     display: inline-block;
    //     content: '';
    //     width: 100%;
    //     height: 1px;
    //     background-color: #e0e5eb;
    //     opacity: 1;
    //     transform: scaleX(1);

    //     @include tablet {
    //         opacity: 0;
    //     }
    // }
}