@import "../../sass/main.scss";

.tableWrapper {
  margin: 20px auto;
  max-width: 320px;
}

.table {
  width: 100%;
  max-height: 200px;
}

.thead {
  display: none;
}

.tbody {
  height: 200px;
}

.line {
  position: relative;
  height: 40px;
  display: flex;
  // align-items: flex-end;
  // justify-content: flex-start;
  border: none;
  border-bottom: 1px solid var(--background-color-decoration);
}

.date {
  margin-right: 30px;
  flex-basis: 50px;
  @include fs(8px, null, 1.12, 0.04em, var(--text-color));

  @include mobile {
    display: flex;
    align-items: flex-end;
  }
}

.description {
  flex-basis: 100px;
  @include mobile {
    position: absolute;
    top: 5px;
    left: 0;
    order: -1;
  }

  span {
    padding: 10px 0;
    @include fs(12px, 700, 1.16, 0.04em, var(--text-color));
  }
}

.category {
  flex-basis: 50px;
  @include fs(8px, null, 1.12, 0.04em, var(--text-color));

  @include mobile {
    display: flex;
    align-items: flex-end;
  }
}

.sum {
  margin-right: 10px;
  flex-basis: 200px;
  @include fs(12px, 700, 1.16, 0.04em, var(--text-color));

  @include mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.delete {
  flex-basis: 30px;
  @include mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
