@import "../../sass/main.scss";

.fakeHeader {
  width: 100%;
  background-color: white;
  height: 56px;
}

.section {
  padding-top: 40px;
  padding-bottom: 12px;
  @include mobile {
    height: 296px;
// position: absolute;
    background-color: var(--background-color-decoration);
    border-bottom-left-radius: 50%;
  }
}

.balanceWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.report {
  margin-bottom: 40px;
  @include fs(12px, null, 1.16, 0.04em, var(--secondary-text-color));
}

.balance {
  margin-bottom: 12px;
  @include fs(12px, 500, 1.16, 0.04em, var(--secondary-text-color));
}

.form {
  margin-bottom: 40px;
}

.input {
  padding: 12px 16px;
  @include fs(12px, 700, 1.16, 0.02em, var(--secondary-text-color));
  text-transform: uppercase;
  width: 50%;
  background-color: transparent;
  border: 2px solid var(--background-color-main);
  border-right-color: transparent;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
outline: none;
  &::placeholder {
    text-align: right;
    color: var(--title-color);
  }
}

.btn {
  padding: 12px 18px;
  @include fs(12px, null, 1.16, 0.04em, var(--secondary-text-color));
  text-transform: uppercase;
  background-color: transparent;

  width: 50%;
  border: 2px solid var(--background-color-main);
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.calendar {
  margin-bottom: 40px;
}

.tableWrapper {
  height: 162px;
}

.linkWrapper{
  @include mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    width: 100%;
  }
}

.link {
  padding: 15px 30px;
  @include fs(12px, 700, 1.16, 0.02em, var(--title-color));
  text-transform: uppercase;
  background-color: var(--background-color-decoration);
  width: 50%;
  &:not(:last-child){
    margin-right: 3px;
  }
  &:hover {
background-color: var(--accent-color);
color: var(--background-color-main)
  }
}
